# GEMINI_API_KEY is required for the server-side Gemini API calls
GEMINI_API_KEY="YOUR_KEY"
APP_URL="http://localhost:3000"

# Third-party endpoints declarations
DEEPSEEK_API_KEY="YOUR_DEEPSEEK_KEY"
GROQ_API_KEY="YOUR_GROQ_KEY"
MANUS_API_KEY="YOUR_MANUS_KEY"

# Optional: Custom Spotify Integration
VITE_SPOTIFY_CLIENT_ID="49e610bef2d048b49c15bb45d54b4d26"

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=
